<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 학습</title>
    <div th:insert="/fragment/header.html::fragment-css"></div>
    <link rel="stylesheet" href="/css/member/myPage.css">


</head>
<body>
<div th:insert="/fragment/header.html::fragment-header"></div>



<main>
    <div class="main-header">
        <h1>내 학습</h1>
        <ul class="tabs">
            <li class="active"><a href="#" th:href="@{/mypage/owned-courses}">보유한 강의</a></li>
            <li><a href="#" th:href="@{/mypage/folders}">내 강의 폴더</a></li>
            <li><a href="#" th:href="@{/mypage/growth-log}">성장 로그</a></li>
            <li><a href="#" th:href="@{/mypage/certificates}">수강확인증</a></li>
            <li><a href="#" th:href="@{/mypage/completion}">수료증</a></li>
        </ul>
    </div>
</main>

<footer>
    <p>&copy; 2025 Inflearn</p>
</footer>
</body>
</html>
